{% extends "layouts/base.html" %}
{% block title %}Party Like A Parrot{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <img class="center-block" src="{{ url_for('static', filename='images/congaparrot.gif')}}" alt="parrot party" width="400" height="400"></img>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form action="/send_invite" method="post">
        <button type="submit" class="btn btn-primary"><marquee  id="marquee1" behavior="alternate"  scrollamount="5">Send Email Invitation</marquee></button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
          <input type="text" name="email" class="form-control" placeholder="Email of recipient"></input>
        </div>
        <div class="has-error">
          <span class="help-block">{{ error }}</span>
        </div>
      </form>

      <p>
        Measure your parrotosklusivity here.
      </p>

      <form action="/calculate" method="post">
        <button type="submit" class="btn btn-primary"><marquee  id="marquee2" behavior="alternate"  scrollamount="5">Parrotosklusivity calculator</marquee></button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
          <input type="text" name="_calculator" class="form-control" placeholder="Example: 9000+1"></input>
        </div>
        <div class="has-solution">
          {{ solution }}
        </div>
      </form>


      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}" style="float:left;"/>
      <img src="{{ url_for('static', filename='images/tripletsparrot.gif')}}"/>

      <div class="panel panel-default">
        <div class="panel-heading"><marquee  id="marquee3" behavior="alternate"  scrollamount="5">All the pathetic pleas</marquee></div>
      {%for c in plea_list%}
         <div class="panel-body">{{ c|safe }}</div>
      {%endfor%}
      </div>
  
 

    </div>

  </div>

</div>

<script>
  function flash() {
      var text = document.getElementById('marquee1');
      var text2 = document.getElementById('marquee2');
      text.style.color = (text.style.color=='red') ? 'yellow':'red';
      text2.style.color = (text2.style.color=='cyan') ? 'red':'cyan';
  }
  var clr = setInterval(flash, 300);
</script>

{% endblock %}
