{% extends "layouts/base.html" %}
{% block title %}Party Like A Parrot{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <img class="center-block" src="{{ url_for('static', filename='images/congaparrot.gif')}}" alt="parrot party" width="400" height="400"></img>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form action="/send_invite" method="post">
        <button type="submit" class="btn btn-primary">Send Email Invitation</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
          <input type="text" name="email" class="form-control" placeholder="Email of recipient"></input>
        </div>
        <div class="has-error">
          <span class="help-block">{{ error }}</span>
        </div>
      </form>

      <p>
        Measure your parrotosklusivity here.
      </p>

      <form action="/calculate" method="post">
        <button type="submit" class="btn btn-primary">Parrotosklusivity calculator</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
          <input type="text" name="_calculator" class="form-control" placeholder="Example: 9000+1"></input>
        </div>
        <div class="has-solution">
          {{ solution }}
        </div>
      </form>
      <div class="panel panel-default">
      <div class="panel-heading">All the pathetic pleas</div>
      {%for c in plea_list%}
         <div class="panel-body">{{ c|safe }}</div>
      {%endfor%}
      </div>

    </div>

  </div>

</div>

{% endblock %}
